{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap %}

{% block css %}

{% endblock %}




{% block main %}

<div class="content-body">
                <div class="col-lg-12">
                        <div class="card-header">
                             <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div class="btn-group me-2">
        <a href="{% url 'create-invoice' %}"><button type="button" class="btn btn-primary">افزودن سفارش جدید</button></a>
      </div>
    </div>
  </div>
                    <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>

                                        <th><strong>شماره سفارش</strong></th>
                                        <th><strong>نام مشتری</strong></th>
                                        <th><strong>تاریخ ابلاغ</strong></th>
                                        <th><strong>شماره / کد درخواست</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                     {% for invoice in invoices %}

                                    <tr>

                                        <td><strong>{{invoice.title}}</strong></td>
                                        <td>
                                            <div class="d-flex align-items-center"><img
                                                    src="images/avatar/1.jpg" class="rounded-lg mr-2"
                                                    width="24" alt=""/> <span class="w-space-no">{{invoice.client.clientName}}</span>
                                            </div>
                                        </td>
                                        <td>{{invoice.get_jalali_createdate}}</td>
                                        <td>{{invoice.request_code}}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href= "{% url 'create-build-invoice' invoice.slug %}" class="btn btn-primary shadow btn-xs sharp mr-1"><i
                                                        class="fa fa-pencil"></i></a>
                                                <a href="{% url 'delete-invoice' invoice.slug %}" class="btn btn-danger shadow btn-xs sharp"><i
                                                        class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>


                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}

{