{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap %}

{% block css %}

{% endblock %}




{% block main %}
<div class="content-body">
        <div class="container-fluid">
                            <h4 class="card-title">گزارشات</h4>
                        <div class="card-body">
                            <div class="basic-form">
                                <form>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="search" class="form-control input-rounded" name="title_filter" placeholder="شماره سفارش">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="search" class="form-control input-rounded" name="client__clientName" placeholder="نام مشتری">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="search" class="form-control input-rounded" name="request_code_filter" placeholder="شماره درخواست">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="search" class="form-control input-rounded" name="invoiceRelated__title" placeholder="نام محصول">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">جست و جو</button>
                                </form>
                            </div>
                        </div>
                    </div>
  <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>

                                        <th><strong>شماره سفارش</strong></th>
                                        <th><strong>نام مشتری</strong></th>
                                        <th><strong>تاریخ ابلاغ</strong></th>
                                        <th><strong>شماره / کد درخواست</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                     {% for invoice in invoices %}
                                    <tr>

                                        <td><strong>{{invoice.title}}</strong></td>
                                        <td>{{invoice.client.clientName}}</td>
                                        <td>{{invoice.create_Date}}</td>
                                        <td>{{invoice.request_code}}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href= "#" class="btn btn-primary shadow btn-xs sharp mr-1"><i
                                                        class="fa fa-pencil"></i></a>
                                            </div>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
  </div>
{% endblock %}


